@font-face {
  font-family: "iconfont"; /* Project id 4807804 */
  src: url('iconfont.woff2?t=1747288953591') format('woff2'),
       url('iconfont.woff?t=1747288953591') format('woff'),
       url('iconfont.ttf?t=1747288953591') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
  content: "\eac5";
}

.icon-erp:before {
  content: "\e649";
}

.icon-resetPwd:before {
  content: "\e6e8";
}

.icon-jmreport:before {
  content: "\e63c";
}

.icon-back:before {
  content: "\e627";
}

.icon-refresh:before {
  content: "\e654";
}

.icon-mrb:before {
  content: "\e602";
}

.icon-calculator:before {
  content: "\e600";
}

.icon-signOut:before {
  content: "\e68e";
}

.icon-signIn:before {
  content: "\e60e";
}

.icon-kanban:before {
  content: "\e640";
}

.icon-settings:before {
  content: "\e601";
}

.icon-search:before {
  content: "\e605";
}

.icon-user:before {
  content: "\e606";
}

.icon-lock:before {
  content: "\e607";
}

.icon-menu:before {
  content: "\e609";
}

.icon-no:before {
  content: "\e608";
}

.icon-yes:before {
  content: "\e60a";
}

.icon-delete:before {
  content: "\e60d";
}

